<%= form_for [@batch, @student] do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box_style batch_create">
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, id: :student_first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, id: :student_last_name %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.text_field :image, id: :student_image %>
    </div>

    <div class="selection">

      <%= hidden_field(:batch_id, :id) %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
