<% @batches.each do |batch| %>
    <div class='box_style'>
    <p><%= batch.name %></p>
    <p>Starts: <%= batch.start_date %></p>
    <p>Ends: <%= batch.end_date %></p>
    <p>
      <%= link_to 'Show', batch, :class => 'batch_button btn-sm btn-primary' %>
      <%= link_to 'Remove', batch, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'batch_button btn-sm btn-danger' %>
    </p>
  </div>
<% end %>
