<div class="standard_box">
  <p>
    <strong>Name:</strong>
    <%= @batch.name %>
  </p>
  <p>
    <strong>Start date:</strong>
    <%= @batch.start_date %>
  </p>
  <p>
    <strong>End date:</strong>
    <%= @batch.end_date %>
  </p>
</div>

<div class = "list_container">
  <h4>Students For This Batch</h4>
  <% if @batch.students.any?  %>
  <%= render 'batch_students' %>
  <% else %>
    <p>There are no students for this batch</p>
  <% end %>
  <p> <%= link_to 'New Student', new_batch_student_path(@batch, @student), :class => 'btn btn-success' %></p>
</div>

<br>

<%= link_to 'Edit', edit_batch_path(@batch), :class => 'btn btn-primary' %>
<%= link_to 'Back', batches_path, :class => 'btn btn-primary' %>
