<div class="progress">
  <div class="progress-bar progress-bar-striped active progress-bar-success" style="width: 35%">
    <span class="sr-only">35% Complete (success)</span>
  </div>
  <div class="progress-bar progress-bar-striped active progress-bar-warning progress-bar-striped" style="width: 20%">
    <span class="sr-only">20% Complete (warning)</span>
  </div>
  <div class="progress-bar progress-bar-striped active progress-bar-danger" style="width: 45%">
    <span class="sr-only">45% Complete (danger)</span>
  </div>
</div>

<hr>

<p>
  <strong>Name:</strong>
  <%= @batch.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @batch.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @batch.end_date %>
</p>

<div class = "list_container">
  <h3>Students For This Batch</h3>
  <% if @batch.students.any?  %>
  <%= render 'batch_students' %>
  <% else %>
    <p>There are no students for this batch</p>
  <% end %>
  <p> <%= link_to 'New Student', new_batch_student_path(@batch, @student), :class => 'btn btn-primary' %></p>
</div>

<p>The mean average of all evaluations from all students =</p>
<%= Evaluation.average(:score) %>

<br>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
